html, body{
  margin: 0;
  padding: 0;
  height: ;
}
div#wrapper{
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0auto;
  padding-bottom: 480px;
  background-color: #cccccc;
}
header{
  padding: 5px;
  background-color: #448888;
  color: #eeeeee;
  span.logo-mark {
    font-weight: bold;
  }
}
footer{
  
}